[Desktop Entry]
Name=kwin-window-switch
Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=false

X-KDE-PluginInfo-Author=James Pike
X-KDE-PluginInfo-Email=github@chilon.net
X-KDE-PluginInfo-Name=kwin-window-switch
X-KDE-PluginKeyword=kwin-window-switch
X-KDE-ParentComponents=kwin-window-switch

X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule
Type=Service
